export(claim_space)
export(plot_claims)
export(print.claim_space)
export(summary.claim_space)
export(claim_group)
export(as.data.frame.claim_space)

importFrom(ggplot2,ggplot)
importFrom(ggplot2,aes)
importFrom(ggplot2,geom_tile)
importFrom(ggplot2,geom_col)
importFrom(ggplot2,facet_grid)
importFrom(ggplot2,facet_wrap)
importFrom(ggplot2,scale_fill_gradient2)
importFrom(ggplot2,scale_x_discrete)
importFrom(ggplot2,theme_minimal)
importFrom(ggplot2,labs)
importFrom(ggplot2,coord_flip)
importFrom(ggplot2,element_text)
